.form {
    padding: 40px;
    min-height: 86.6vh;
    background: #ddd;
    &__title {
        text-align: end;
        color: red;
        font-weight: bold;
        font-size: 32px;
    }

    &__info {
        margin: 30px auto;
        padding: 50px;
        width: 550px;
        background: rgba(255, 255, 255, 0.263);
        backdrop-filter: blur(3px);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;

        label {
            font-size: 20px;
            color: black;
            font-weight: 600;
        }

        input {
            border: none;
            border-bottom: 1px solid #ddd;
            font-size: 18px;
            padding: 10px 20px;
            outline: none;
        }
    }

    &__btn {
        padding: 10px 20px;
        color: white;
        background: #ddd;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        transition: .4s;

        &:hover {
            color: #979797;
            background: white;
        }
    }

}